:root {
  --background: white;
  --text: black;
}

[data-theme='dark'] {
  --background: black;
  --text: white;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--background);
  color: var(--text);
}

button {
  margin: 10px;
}